::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:   white;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    white;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    white;
}
html {
    /*overflow-y: scroll;*/
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {

    /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    /*background-image: url("../../pictures/bk.jpeg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*background-attachment: fixed;*/
    font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    width: 1200px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}


